<md-content layout="column" layout-padding>
  <md-input-container>
    <label>Email</label>
    <input type="text" ng-model="vm.credentials.email" />
    <div ng-show="vm.error"><small>{{ vm.error }}</small></div>
  </md-input-container>
  <md-input-container>
    <label>Password</label>
    <input type="password" ng-model="vm.credentials.password" />
  </md-input-container>
  <section layout="row">
    <md-button class="md-raised" ng-click="vm.login()" >Log In</md-button>
    <md-button class="md-raised" ng-click="vm.register()" >Create Account</md-button>
  </section>
  <span flex></span>
  <section layout="row">
    <md-button ui-sref="resetpassword" >Forgot password?</md-button>
  </section>
</md-content>
