<ion-view>
  <ion-content layout="row">
    <div ng-show="rc.error"><small>{{ rc.error }}</small></div>
    <form layout="column">
      <input type="text" ng-model="rc.credentials.email" placeholder="email" aria-label="email" />
      <input type="password" ng-model="rc.credentials.password" placeholder="password" aria-label="password" />
      <button ng-click="rc.register()">Create Account</button>
    </form>
    <div layout="row" layout-align="end center"><a href="/login">Login</a></div>
  </ion-content>
</ion-view>
