<ion-view>
  <ion-content layout="row">
    <div ng-show="vm.error"><small>{{ vm.error }}</small></div>
    <form layout="column">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="vm.credentials.email" aria-label="email" />
        </label>
      </div>
      <div clas="padding">
        <button class="button button-light" ng-click="vm.reset()" aria-label="login">Reset password</button>
      </div>
    </form>
    <div class="padding">
      <div class="button button-light" layout="row" layout-align="end center" ui-sref="tabs.login">Login</div>
    </div>
  </ion-content>
</ion-view>
