<ion-view>
  <ion-content>
    <div class="row club-card">
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{vm.club.name}}</h1>
      </ion-header-bar>
    </div>
    <div class="row">
      <div class="list col col-100">
        <label class="item range item-input">
          <div class="input-label">Crowd</div>
          <div class="">
            <input type="range" name="crowd" min="0" max="100" ng-model="vm.club.crowd">
          </div>
          {{vm.club.crowd | labelFilter : vm.attributeLabels.crowd}}
        </label>
        <label class="item range item-input">
          <span class="input-label">Entry Queue</span>
          <span><input type="range" name="queue" min="0" max="100" ng-model="vm.club.queue"></span>
          {{vm.club.queue | labelFilter : vm.attributeLabels.queue}}
        </label>
        <label class="item range item-input">
          <span class="input-label">Gender Ratio</span>
          <span><input type="range" name="gender-ratio" min="0" max="100" ng-model="vm.club.genderRatio"></span>
          {{vm.club.genderRatio | labelFilter : vm.attributeLabels.genderRatio}}
        </label>
        <ion-item class="item item-input item-select">
          <div class="input-label">
            Music Type
          </div>
          <select ng-model="vm.club.musicType">
            <option selected>Pop</option>
            <option>Rock</option>
            <option>EDM</option>
            <option>House</option>
            <option>80s/90s</option>
          </select>
        </ion-item>
        <ion-item class="item item-input">
          <div class="input-label">
            Now Playing
          </div>
          <input type="text" ng-model="vm.club.musicPlaying">
        </ion-item>
      </div>
    </div>
    <div class="row">
      <button class="button" ng-click="vm.save()">Save</button>
      <button class="button" ng-click="vm.goBack()">Back</button>
    </div>
  </ion-content>
</ion-view>
