<md-subheader>
  {{club.name}}
  <md-button class="md-primary" ng-if="$root.currentUser" ui-sref="club-edit({id: club._id})">Edit</md-button>
</md-subheader>
<md-list>
  <md-list-item>
    <b>Crowd:</b> {{club.crowd | labelFilter : vm.attributeLabels.crowd}}
  </md-list-item>
  <md-list-item>
    <b>Entry Queue:</b> {{club.queue | labelFilter : vm.attributeLabels.queue}}
  </md-list-item>
  <md-list-item>
    <b>Gender Ratio:</b> {{club.genderRatio | labelFilter : vm.attributeLabels.genderRatio}}
  </md-list-item>
  <md-list-item>
    <b>Music Type:</b> {{club.musicType}}
  </md-list-item>
  <md-list-item>
    <b>Now playing:</b> {{club.musicPlaying}}
  </md-list-item>
  <md-list-item>
    <b>Reported on:</b> {{club.reportTime | date : 'HH:mm'}}
  </md-list-item>
</md-list>
