<md-content layout="column" layout-padding>
  <h1>{{vm.club.name}}</h1>
  <div layout>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">Crowd</span>
    </div>
    <md-slider flex ng-model="vm.club.crowd" step="1" min="1" max="100"></md-slider>
    <div flex="20" layout layout-align="center center">
      {{vm.club.crowd | labelFilter : vm.attributeLabels.crowd}}
    </div>
  </div>
  <div layout>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">Entry Queue</span>
    </div>
    <md-slider flex ng-model="vm.club.queue" step="1" min="1" max="100"></md-slider>
    <div flex="20" layout layout-align="center center">
      {{vm.club.queue | labelFilter : vm.attributeLabels.queue}}
    </div>
  </div>
  <div layout>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">Gender Ratio</span>
    </div>
    <md-slider flex ng-model="vm.club.genderRatio" step="1" min="1" max="100"></md-slider>
    <div flex="20" layout layout-align="center center">
      {{vm.club.genderRatio | labelFilter : vm.attributeLabels.genderRatio}}
    </div>
  </div>
  <div layout>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">Music Type</span>
    </div>
    <md-chips ng-model="vm.club.musicType" md-autocomplete-snap md-require-match>
      <md-autocomplete
        md-selected-item="vm.chips.selectedItem"
        md-search-text="vm.chips.searchText"
        md-items="item in vm.chips.querySearch(vm.chips.searchText)"
        md-item-text="item">
        <span md-highlight-text="vm.chips.searchText">{{item}}</span>
      </md-autocomplete>
    </md-chips>
  </div>
  <span flex></span>
  <div layout>
    <md-button class="md-raised" ui-sref="map({lat: vm.club.location.lat, lng: vm.club.location.lng})">Back</md-button>
    <md-button class="md-raised" ng-click="vm.submit()">Submit</md-button>
  </div>
</md-content>
