<div class="row club-card">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{name}}</h1>
    <button class="button" ng-if="$root.currentUser" ui-sref="club-edit({id: id})">Edit</button>
  </ion-header-bar>
</div>
<div class="row">
  <ion-list>
    <ion-item>
      <b>Crowd:</b> {{crowd}}
    </ion-item>
    <ion-item>
      <b>Queue:</b> {{queue}}
    </ion-item>
    <ion-item>
      <b>Gender Ratio:</b> {{genderRatio}}
    </ion-item>
    <ion-item>
      <b>Music Type:</b> {{musicType}}
    </ion-item>
    <ion-item>
      <b>Now playing:</b> {{musicPlaying}}
    </ion-item>
  </ion-list>
</div>
